* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: bottom;
}

section {
  padding-top: 100px;
}

.c-title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  text-align: center;
}

.tp-2column-01__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tp-2column-01__img {
  width: 47.5%;
  margin-right: 5%;
}
.tp-2column-01__content {
  width: 47.5%;
}
.tp-2column-01__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.tp-2column-01__text {
  color: black;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tp-2column-01 {
    max-width: 500px;
    margin: 0 auto;
  }
  .tp-2column-01__inner {
    display: block;
  }
  .tp-2column-01__img {
    width: 100%;
    margin: 0 auto 20px;
  }
  .tp-2column-01__content {
    width: 100%;
  }
  .tp-2column-01__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .tp-2column-01__text {
    font-size: 14px;
  }
}
.tp-2column-02__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tp-2column-02__content {
  width: 47.5%;
  margin-right: 5%;
}
.tp-2column-02__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}
.tp-2column-02__text {
  color: black;
  font-size: 16px;
  text-align: left;
}
.tp-2column-02__img {
  width: 47.5%;
}

@media screen and (max-width: 768px) {
  .tp-2column-02 {
    max-width: 500px;
    margin: 0 auto;
  }
  .tp-2column-02__inner {
    flex-direction: column-reverse;
  }
  .tp-2column-02__img {
    width: 100%;
    margin: 0 auto 20px;
  }
  .tp-2column-02__content {
    width: 100%;
  }
  .tp-2column-02__title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  .tp-2column-02__text {
    font-size: 14px;
  }
}
.tp-2column-03__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.tp-2column-03__content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tp-2column-03__content .tp-2column-03__img {
  margin-right: 0%;
}
.tp-2column-03__content .tp-2column-03__desc {
  margin-right: 5%;
}
.tp-2column-03__content .tp-2column-03__title {
  text-align: right;
}
.tp-2column-03__content:nth-child(2n) {
  flex-direction: row-reverse;
}
.tp-2column-03__content:nth-child(2n) .tp-2column-03__img {
  margin-right: 5%;
}
.tp-2column-03__content:nth-child(2n) .tp-2column-03__desc {
  margin-right: 0%;
}
.tp-2column-03__content:nth-child(2n) .tp-2column-03__title {
  text-align: left;
}
.tp-2column-03__img {
  width: 47.5%;
}
.tp-2column-03__desc {
  width: 47.5%;
}
.tp-2column-03__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.tp-2column-03__text {
  color: black;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tp-2column-03__inner {
    max-width: 500px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .tp-2column-03__content {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .tp-2column-03__content .tp-2column-03__img {
    margin-right: 0%;
  }
  .tp-2column-03__content .tp-2column-03__desc {
    margin-right: 0%;
  }
  .tp-2column-03__content .tp-2column-03__title {
    text-align: center;
  }
  .tp-2column-03__content:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .tp-2column-03__content:nth-child(2n) .tp-2column-03__img {
    margin-right: 0%;
  }
  .tp-2column-03__content:nth-child(2n) .tp-2column-03__desc {
    margin-right: 0%;
  }
  .tp-2column-03__content:nth-child(2n) .tp-2column-03__title {
    text-align: center;
  }
  .tp-2column-03__img {
    width: 100%;
    margin: 0 auto 20px;
  }
  .tp-2column-03__desc {
    width: 100%;
  }
  .tp-2column-03__title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  .tp-2column-03__text {
    font-size: 14px;
  }
}
.tp-2column-04__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.tp-2column-04__content {
  margin-top: 30px;
  padding: 20px;
  border: solid 1px black;
  box-shadow: 2px 4px 4px 0 rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tp-2column-04__content .tp-2column-04__img {
  margin-right: 0%;
}
.tp-2column-04__content .tp-2column-04__desc {
  margin-right: 5%;
}
.tp-2column-04__content .tp-2column-04__title {
  text-align: right;
}
.tp-2column-04__content:nth-child(2n) {
  flex-direction: row-reverse;
}
.tp-2column-04__content:nth-child(2n) .tp-2column-04__img {
  margin-right: 5%;
}
.tp-2column-04__content:nth-child(2n) .tp-2column-04__desc {
  margin-right: 0%;
}
.tp-2column-04__content:nth-child(2n) .tp-2column-04__title {
  text-align: left;
}
.tp-2column-04__img {
  width: 47.5%;
}
.tp-2column-04__desc {
  width: 47.5%;
}
.tp-2column-04__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.tp-2column-04__text {
  color: black;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tp-2column-04__inner {
    max-width: 500px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .tp-2column-04__content {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .tp-2column-04__content .tp-2column-04__img {
    margin-right: 0%;
  }
  .tp-2column-04__content .tp-2column-04__desc {
    margin-right: 0%;
  }
  .tp-2column-04__content .tp-2column-04__title {
    text-align: center;
  }
  .tp-2column-04__content:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .tp-2column-04__content:nth-child(2n) .tp-2column-04__img {
    margin-right: 0%;
  }
  .tp-2column-04__content:nth-child(2n) .tp-2column-04__desc {
    margin-right: 0%;
  }
  .tp-2column-04__content:nth-child(2n) .tp-2column-04__title {
    text-align: center;
  }
  .tp-2column-04__img {
    width: 100%;
    margin: 0 auto 20px;
  }
  .tp-2column-04__desc {
    width: 100%;
  }
  .tp-2column-04__title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  .tp-2column-04__text {
    font-size: 14px;
  }
}
.tp-2column-05__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tp-2column-05__content {
  width: calc(50% - 20px - 40px);
  margin-right: 20px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0 rgba(128, 128, 128, 0.5);
}
.tp-2column-05__content:nth-child(2n) {
  margin-right: 0px;
}
.tp-2column-05__content:nth-child(n+3) {
  margin-top: 20px;
}
.tp-2column-05__img {
  margin-bottom: 20px;
}
.tp-2column-05__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.tp-2column-05__text {
  color: black;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tp-2column-05__inner {
    max-width: 500px;
    display: block;
  }
  .tp-2column-05__content {
    width: auto;
    margin-top: 20px;
    margin-right: 0px;
    padding: 15px;
  }
  .tp-2column-05__content:nth-child(2n) {
    margin-right: 0px;
  }
  .tp-2column-05__content:nth-child(n+3) {
    margin-top: 20px;
  }
  .tp-2column-05__img {
    margin-bottom: 10px;
  }
  .tp-2column-05__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .tp-2column-05__text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=tp-2column.css.map */