* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: bottom;
}

section {
  padding-top: 100px;
}

.c-title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  text-align: center;
}

.tp-3column-01__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tp-3column-01__img {
  width: calc(33.3333333333% - 20px);
  margin-right: 30px;
}
.tp-3column-01__img:nth-child(3n) {
  margin-right: 0px;
}
.tp-3column-01__img:nth-child(n+4) {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .tp-3column-01__inner {
    max-width: 500px;
    display: block;
  }
  .tp-3column-01__img {
    width: 100%;
    margin-right: 0px;
  }
  .tp-3column-01__img:nth-child(3n) {
    margin-right: 0px;
  }
  .tp-3column-01__img:nth-child(n+2) {
    margin-top: 20px;
  }
  .tp-3column-01__img:nth-child(n+4) {
    margin-top: 20px;
  }
}
.tp-3column-02__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tp-3column-02__img {
  margin-bottom: 20px;
}
.tp-3column-02__content {
  width: calc(33.3333333333% - 20px - 50px);
  margin-right: 30px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.tp-3column-02__content:nth-child(3n) {
  margin-right: 0px;
}
.tp-3column-02__content:nth-child(n+4) {
  margin-top: 30px;
}
.tp-3column-02__title {
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.tp-3column-02__text {
  color: black;
  font-size: 13px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .tp-3column-02__inner {
    max-width: 500px;
  }
  .tp-3column-02__img {
    margin-bottom: 10px;
  }
  .tp-3column-02__content {
    width: 100%;
    margin-right: 0px;
    padding: 10px;
  }
  .tp-3column-02__content:not(:last-child) {
    margin-bottom: 20px;
  }
  .tp-3column-02__content:nth-child(n+4) {
    margin-top: 0px;
  }
  .tp-3column-02__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .tp-3column-02__text {
    font-size: 12px;
  }
}
.tp-3column-03__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tp-3column-03__content {
  width: calc(33.3333333333% - 20px);
  margin-right: 30px;
}
.tp-3column-03__content:nth-child(3n) {
  margin-right: 0px;
}
.tp-3column-03__img {
  margin-bottom: 20px;
}
.tp-3column-03__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tp-3column-03__inner {
    max-width: 500px;
    display: block;
  }
  .tp-3column-03__content {
    width: 100%;
    margin-right: 0px;
  }
  .tp-3column-03__content:not(:last-child) {
    margin-bottom: 20px;
  }
  .tp-3column-03__img {
    margin-bottom: 10px;
  }
  .tp-3column-03__title {
    font-size: 20px;
  }
}
.tp-3column-04__inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tp-3column-04__img {
  margin-bottom: 20px;
}
.tp-3column-04__content {
  width: calc(33.3333333333% - 20px - 50px);
  margin-right: 30px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.tp-3column-04__content:nth-child(3n) {
  margin-right: 0px;
}
.tp-3column-04__content:nth-child(n+4) {
  margin-top: 30px;
}
.tp-3column-04__title {
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.tp-3column-04__text {
  margin-bottom: 20px;
  color: black;
  font-size: 13px;
  text-align: left;
}
.tp-3column-04__button {
  display: block;
  width: 180px;
  height: 30px;
  margin: 0 auto;
  border-radius: 15px;
  border: solid 1px black;
  transition: all 0.3s;
}
.tp-3column-04__button span {
  display: block;
  color: black;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}
.tp-3column-04__button:hover {
  border: solid 1px yellow;
  background-color: yellow;
}
.tp-3column-04__button:hover span {
  display: block;
  color: black;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .tp-3column-04__inner {
    max-width: 500px;
    display: block;
  }
  .tp-3column-04__img {
    margin-bottom: 10px;
  }
  .tp-3column-04__content {
    width: auto;
    margin-right: 0px;
    padding: 10px;
  }
  .tp-3column-04__content:not(:last-child) {
    margin-bottom: 20px;
  }
  .tp-3column-04__content:nth-child(n+4) {
    margin-top: 0px;
  }
  .tp-3column-04__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .tp-3column-04__text {
    margin-bottom: 10px;
    font-size: 11px;
  }
}
/*# sourceMappingURL=tp-3column.css.map */