
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h2{
    margin: 20px auto ;
    width: fit-content;
    white-space: nowrap;
}

// タイトルテンプレート01
.tp-c-title02-01 {

}

// タイトルテンプレート02
.tp-c-title02-02 {

}

// タイトルテンプレート03
.tp-c-title02-03 {

}

// タイトルテンプレート04
.tp-c-title02-04 {

}

// タイトルテンプレート05
.tp-c-title02-05 {

}

// タイトルテンプレート06
.tp-c-title02-06 {

}

// タイトルテンプレート07
.tp-c-title02-07 {

}

// タイトルテンプレート08
.tp-c-title02-08 {

}

// タイトルテンプレート09
.tp-c-title02-09 {

}

// タイトルテンプレート10
.tp-c-title02-10 {

}

// タイトルテンプレート11
.tp-c-title02-11 {

}

// タイトルテンプレート12
.tp-c-title02-12 {

}

// タイトルテンプレート13
.tp-c-title02-13 {

}

// タイトルテンプレート14
.tp-c-title02-14 {

}

// タイトルテンプレート15
.tp-c-title02-15 {

}

// タイトルテンプレート16
.tp-c-title02-16 {

}

// タイトルテンプレート17
.tp-c-title02-17 {

}

// タイトルテンプレート18
.tp-c-title02-18 {

}

// タイトルテンプレート19
.tp-c-title02-19 {

}

// タイトルテンプレート20
.tp-c-title02-20 {

}

