*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: bottom;
}

section{
    padding-top: 100px;
}

.c-news-title{
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    text-align: center;
}

// お知らせテンプレートその１
.tp-news-01 {
    padding: 100px 20px;
    &__list {
        max-width: 1000px;
        margin: 0 auto;
        border-top: solid 1px black;
    }
    &__item {
        padding: 15px 20px;
        border-bottom: solid 1px black;
        // flex-box
        display: flex;
        justify-content: right;
        align-items: center;
    }
    &__inner{
        width: 300px;
        // flex-box
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    &__date {
        margin-right: 10px;
        color: black;
        font-size: 16px;
    }
    &__lavel {
        margin-right: 20px;
        width: 120px;
        height: 20px;
        background-color: black;

        span{
            display: block;
            color: white;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
        }
    
    }
    &__title {
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    
    }
}
@media screen and (max-width:768px) {
    .tp-news-01 {
        &__list {
            max-width: 500px;
            margin: 0 auto;
            border-top: solid 1px black;
        }
        &__item {
            padding: 10px;
            border-bottom: solid 1px black;
            // flex-box
            display: block;
        }
        &__inner{
            width: auto;
        }
        &__date {
            font-size: 12px;
        }
        &__lavel {
            margin-right: 0px;
            width: 100px;
            span{
                font-size: 12px;
            }
        
        }
        &__title {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}

// お知らせテンプレートその２
.tp-news-02 {
    padding: 100px 20px;
    &__list {
        max-width: 1000px;
        margin: 0 auto;
        border-top: solid 1px black;
    }
    &__item {
        padding: 15px 20px;
        border-bottom: solid 1px black;
        // flex-box
        display: flex;
        justify-content: left;
        align-items: center;
    }
    &__inner{
        width: 150px;
    }
    &__date {
        margin-bottom: 10px;
        color: black;
        font-size: 16px;
    }
    &__lavel {
        width: 120px;
        height: 20px;
        background-color: black;

        span{
            display: block;
            color: white;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
        }
    
    }
    &__title {
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    }
}
@media screen and (max-width:768px) {
    .tp-news-02 {
        &__list {
            max-width: 500px;
            margin: 0 auto;
            border-top: solid 1px black;
        }
        &__item {
            padding: 10px;
            border-bottom: solid 1px black;
        }
        &__inner{
            margin-right: 10px;
            width: auto;
        }
        &__date {
            font-size: 12px;
        }
        &__lavel {
            margin-right: 0px;
            width: 100px;
            span{
                font-size: 12px;
            }
        
        }
        &__title {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}

// お知らせテンプレートその3
.tp-news-03 {
    padding: 100px 20px;
    &__list {
        max-width: 1000px;
        margin: 0 auto;
        border-top: solid 1px black;
    }
    &__item {
        border-bottom: solid 1px black;
        // flex-box
        display: flex;
        justify-content: left;
        align-items: center;
    }
    &__inner{
        padding: 10px 20px 10px 40px;
        margin-right: 10px;
        background-color: #ddd;
    }
    &__date {
        color: black;
        font-size: 16px;
    }
    &__title {
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    }
}
@media screen and (max-width:768px) {
    .tp-news-03 {
        &__list {
            max-width: 500px;
            margin: 0 auto;
            border-top: solid 1px black;
        }
        &__item {
            border-bottom: solid 1px black;
        }
        &__inner{
            margin-right: 10px;
            width: auto;
            height: fit-content;
        }
        &__date {
            font-size: 12px;
        }
        &__title {
            font-size: 14px;
        }
    }
}

