* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.l-footer-tp5 {
  background-color: gray;
}
.l-footer-tp5__map {
  width: 100%;
  height: 500px;
}
.l-footer-tp5__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-footer-tp5__logo {
  font-size: 30px;
  color: white;
  text-align: center;
}
.l-footer-tp5__address .yubin,
.l-footer-tp5__address .jusho {
  display: block;
  font-size: 12px;
  color: white;
  transition: all 0.3s;
}
.l-footer-tp5__privacy {
  display: block;
  font-size: 12px;
  color: white;
  transition: all 0.3s;
  border-bottom: solid 1px white;
}
.l-footer-tp5__privacy:hover {
  color: yellow;
  border-bottom: solid 1px yellow;
}
.l-footer-tp5__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-footer-tp5__social__follow {
  margin-right: 20px;
  display: block;
  font-size: 20px;
  color: white;
}
.l-footer-tp5__social__line {
  margin-right: 20px;
  width: 30px;
  height: 2px;
  background-color: white;
}
.l-footer-tp5__social__list img {
  width: 30px;
  height: 30px;
}
.l-footer-tp5__social__list:not(:last-child) {
  margin-right: 10px;
}
.l-footer-tp5__contact {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px white;
  transition: all 0.3s;
  position: relative;
}
.l-footer-tp5__contact span {
  margin-right: 20px;
  display: inline;
  font-size: 16px;
  color: white;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l-footer-tp5__contact:hover {
  border: solid 1px yellow;
}
.l-footer-tp5__contact:hover span {
  color: yellow;
}
.l-footer-tp5__copy {
  font-size: 16px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .l-footer-tp5__map {
    height: 300px;
  }
  .l-footer-tp5__inner {
    padding: 20px;
    display: block;
  }
  .l-footer-tp5__logo {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .l-footer-tp5__address {
    margin: 0 auto 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .l-footer-tp5__address .yubin,
.l-footer-tp5__address .jusho {
    display: inline-block;
    font-size: 10px;
    color: white;
    transition: all 0.3s;
  }
  .l-footer-tp5__privacy {
    font-size: 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .l-footer-tp5__social {
    margin-bottom: 10px;
  }
  .l-footer-tp5__social__follow {
    margin-right: 10px;
    font-size: 16px;
  }
  .l-footer-tp5__social__line {
    margin-right: 10px;
    width: 20px;
  }
  .l-footer-tp5__social__list img {
    width: 25px;
    height: 25px;
  }
  .l-footer-tp5__social__list:not(:last-child) {
    margin-right: 10px;
  }
  .l-footer-tp5__contact {
    display: block;
    width: 240px;
    height: 30px;
    margin: 0 auto 10px;
  }
  .l-footer-tp5__contact span {
    margin-right: 0px;
    font-size: 12px;
  }
  .l-footer-tp5__copy {
    font-size: 12px;
  }
}
/*# sourceMappingURL=tp-l-footer-5.css.map */